:root {
  color-scheme: only light;
}

html{
  scroll-behavior: smooth !important;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

*::selection{
  background-color: #fa65b1;
  color: white;
}

.contact-us-bar{
  border: 2px solid rgb(240, 240, 240);
  position: relative;
  background-color: rgb(240, 240, 240);
}

#contact-us-bar-left-section{
  width: 400px;
  position: relative;
  padding-left: 100px;
  color: rgb(156, 156, 156);
}

#contact-number{
  position: absolute;
  top: -28px;
  right: 0;
  transition: .20s;
  cursor: pointer;
}

#contact-number:hover{
  color: #fa65b1;
}

#email1{
  transition: .20s;
  cursor: pointer;
  width: 230px;
}

#email1:hover{
  color: #fa65b1;
}

#contact-number{
  margin-top: 30px !important;
}

#contact-us-bar-right-section{
  position: absolute;
  right: 50px;
  top: 25px;
  width: 300px;
}

#contact-us-bar-right-section button{
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  background-color: rgb(162, 162, 162);
  border: none;
  cursor: pointer;
  transition: .20s;
}

#contact-us-bar-right-section button:hover{
  background-color: #fa65b1;
}

#navbar-container{
  /* border: 2px solid red; */
  position: fixed;
  left: 0;
  right: 0;
  padding: 27px 100px;
  box-shadow: 0 10px 10px 0 rgba(133, 133, 133, 0.1);
  background-color: white;
  z-index: 10 !important;
}

/* #hamburger-menu-icon,
#close-btn-icon{
  display: hidden !important;
  width: 0 !important;
  height: 0 !important;
} */

.sticky {
  position: fixed;
  top: 0;
  padding-top: 60px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */


#logo-container{
  /* border: 2px solid red; */
  margin-top: 10px;
}

#navbar{
  /* border: 2px solid red; */
  position: absolute;
  top: 20px;
  right: 70px;
}

#navbar ul a{
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

#navbar ul li{
  display: inline-block;
  list-style-type: none;
  transition: .20s;
  font-size: 18px;
}

#navbar ul li:hover{
  color: #fa65b1;
}

#free-quote{
  border: 1px solid #fa65b1;
  padding: 10px 25px;
  border-radius: 30px;
  color: #fa65b1 !important;
  transition: .20s;
}


/* Home Section */

/* Home Left Section */
#light-dark-mode-container{
  position: fixed;
  right: 21px !important;
  bottom: 24px !important;
  z-index: 100 !important;
}

#light-mode{
  display: none;
  border: 3px solid white;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 33px;
  cursor: pointer;
  transition: .20s;
}

#light-dark-mode-container #light-mode:hover{
  background-color: black;
  color: white;
}

#light-dark-mode-container #dark-mode{
  border: 3px solid #d63384;
  color: #d63384;
  font-size: 18px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 33px;
  cursor: pointer;
  transition: .20s;
}

#light-dark-mode-container #dark-mode:hover{
  background-color: #d63384;
  color: white;
}



#home{
  /* border: 2px solid red; */
  margin-top: 130px;
  display: flex;
  padding-bottom: 200px;
}

#home-left-section,
#home-right-section{
  /* border: 2px solid red; */
}

#home-left-section{
  padding-top: 110px;
  padding-left: 90px;
  width: 700px;
}

#digital-media-agency{
  font-size: 19px;
  color: #fa65b1;
  margin-bottom: 0;
}

#we-boost{
  margin-top: 18px;
  font-size: 50px;
  margin-bottom: 0;
}

#this-template{
  font-size: 17px;
  /* border: 2px solid red; */
  width: 600px;
  margin-top: 10px;
  color: #AFAFAF;
  line-height: 1.6;
  margin-bottom: 0;
}

#free-quote2{
  margin-top: 20px;
  border: 1px solid #fa65b1;
  color: #fa65b1;
  background-color: white;
  padding: 10px 25px;
  font-size: 22px;
  border-radius: 22px;
  cursor: pointer;
  transition: .20s;
}

#free-quote2:hover{
  background-color: #fa65b1;
  color: white;
}

/* Home Right Section */
#home-right-section{
  margin-left: 30px;
  margin-top: 90px;
}

#home-img{
  width: 600px;
}

#home-bg-img1{
  /* border: 2px solid red; */
  position: absolute;
  top: 150px;
  left: 0;
  z-index: -1;
}

#home-bg-img2{
  position: absolute;
  top: 150px;
  left: 300px;
  /* border: 2px solid red; */
  z-index: -1;
}

/* About us Section */
#about{
  display: flex;
}

#about-left-section{
  /* border: 2px solid red; */
  padding-left: 90px;
}

#about-pic{
  /* border: 2px solid red; */
  width: 650px;
}

#about-right-section{
  /* border: 2px solid red; */
  padding-top: 70px;
  padding-left: 33px;
  padding-right: 120px;
}

#about-us{
  font-size: 15px;
  color: #726ae3;
  margin-bottom: 0;
}

#who-is-digimedia{
  font-size: 35px;
  margin-top: 15px;
}

#we-hope-this{
  font-size: 17px;
  line-height: 1.7;
  color: #AFAFAF;
}

#range-container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 20px;
}

#coding-range1{
  border: 4px solid #d63384;
  text-align: center;
  width: 120px;
  border-radius: 50%;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
}

#coding90{
  font-size: 40px;
  margin-top: 45px;
}

#coding-text{
  font-size: 25px;
  margin-top: -70px;
  color: #AFAFAF;
}

#coding-cover{
  /* border: 2px solid blue; */
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: white;
  transform: rotate(-10deg);
  margin-left: 30px;
  margin-top: -20px;
}

#photoshop-range2{
  border: 4px solid #0d6efd;
  text-align: center;
  width: 120px;
  border-radius: 50%;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
}

#photoshop80{
  font-size: 40px;
  margin-top: 45px;
}

#photoshop-text{
  font-size: 25px;
  margin-top: -70px;
  color: #AFAFAF;
}

#photoshop-cover{
  /* border: 2px solid red; */
  position: absolute;
  height: 50px;
  width: 70px;
  background-color: white;
  transform: rotate(-40deg);
  margin-left: 230px;
  margin-top: -10px;
}

#animation-range3{
  border: 4px solid #fd7e14;
  text-align: center;
  width: 120px;
  border-radius: 50%;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
}

#animation80{
  font-size: 40px;
  margin-top: 45px;
}

#animation-text{
  font-size: 25px;
  margin-top: -70px;
  color: #AFAFAF;
}

#animation-cover{
  /* border: 2px solid red; */
  position: absolute;
  height: 50px;
  width: 70px;
  background-color: white;
  transform: rotate(-40deg);
  margin-left: -80px;
  margin-top: -150px;
}


/* Services section */
#services{
  position: relative;
  /* border: 2px solid red; */
  padding-top: 100px;
}

#services-left-img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* border: 2px solid red; */
}

#services-top{
  /* border: 2px solid blue; */
  text-align: center;
}

#our-services{
  font-size: 15px;
  color: #726ae3;
  margin-bottom: 0;
}

#what-our-agency{
  font-size: 35px;
  margin-top: 10px;
}

#services-bottom{
  display: flex;
  margin-left: 230px;
  margin-top: 100px;
}

.cards{
  width: 200px;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  border-radius: 22px;
  cursor: pointer;
  transition: .20s;
  background-color: white;
  margin-right: 5px;

}

.cards:hover{
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.3);
}

.cards img{
  margin-bottom: 0;
}

.cards h3{
  margin-top: 10px;
}

#apartments{
  /* box-shadow: 0 0 15px rgba(134, 134, 134, 0.3); */
}

#big-card{
  /* border: 2px solid red; */
  width: 1350px;
  margin-left: 80px;
  margin-top: 60px;
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.3);
  border-radius: 22px;
  background-color: white;
}

#seo-analysis{
  /* border: 2px solid red; */
  display: flex;
  padding-top: 50px;
  padding-bottom: 10px;
}

#seo-analysis-left{
  /* border: 2px solid red; */
  padding-left: 110px;
  width: 500px;
  padding-right: 120px;
}

#seo-analysis-and-daily-reports{
  color: #fa65b1;
  font-size: 22px;
  margin-bottom: 0;
}

#lorem-ipsum,
#lorem-ipsum2{
  color: #AFAFAF;
  font-size: 17px;
  margin-top: 30px;
  line-height: 1.8;
}

#seo-analysis-list{
  list-style: none;
}

#seo-analysis-list li:before{
  content: '✓ ';
  font-weight: bold;
}

#seo-analysis-list li{
  margin-bottom: 10px;
}

#seo-analysis-right{
  /* border: 2px solid red; */
  margin-left: 80px;
}

#seo-analysis-right img{
  width: 440px;
  margin-top: 80px;
}


/* Quote section */

#free-quote-section{
  border: 2px solid transparent;
  margin-top: 100px;
  text-align: center;
  background-image: url('./quote-bg.jpg');
  padding-top: 100px;
}

#get-your-free-quote{
  font-size: 15px;
  margin-bottom: 0;
  color: white;
}

#grow-with-us{
  font-size: 35px;
  margin-top: 10px;
  color: white;
}

#quote-bar{
  /* border: 2px solid red; */
  width: 68%;
  margin: auto;
  padding: 20px 0;
  padding-left: 0;
  border-radius: 75px;
  position: relative;
  margin-bottom: 100px;
  background-color: white;
}

#quote-bar #web-url,
#quote-bar #email-input{
  width: 300px;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  outline: none;
  background: transparent;
  color: rgb(159, 159, 159);
}

#quote-bar #email-input{
  margin-left: 20px;
}

#quote-bar #web-url{
  margin-left: -300px;
}

#get-quote-btn{
  /* border: 2px solid red; */
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0 75px 75px 0;
  width: 300px;
  background-color: #726ae3;
  color: white;
  cursor: pointer;
  transition: .20s;
}

#get-quote-btn:hover{
  background-color: #5b55b6;
}

/* Projects section */

#projects-section{
  /* border: 2px solid red; */
  padding-left: 90px;
  padding-top: 80px;
  position: relative;
}

#portfolio-top-left{
  position: absolute;
  left: 10px;
  top: 0;
  z-index: -1;
}

#portfolio-bottom-right{
  /* border: 2px solid red; */
  position: absolute;
  right: 10px;
  top: -300px;
  z-index: -1;
}

#our-portfolio{
  font-size: 15px;
  color: #726ae3;
  margin-bottom: 0;
}

#see-our-recent{
  margin-top: 10px;
  font-size: 35px;
}

#projects-container{
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 70px;
}

.projects{
  /* border: 1px solid red; */
  width: 256px;
  border-radius: 45px;
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.3);
  cursor: pointer;
}

.projects-top img{
  width: 100%;
}

.projects-bottom{
  text-align: center;
  background-color: white;
  /* border: 2px solid red; */
  border-radius: 0 0 23px 23px;
}

.website-builder{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 23px;
  transition: .20s;
}

.marketing{
  margin-top: 15px;
  color: gray;
  font-size: 18px;
  transition: .20s;
}


/* News Section */
#news-section{
  /* border: 2px solid red; */
  text-align: center;
  padding-top: 40px;
  margin-top: 80px;
}

#recent-news{
  color: #726ae3;
  font-size: 15px;
  margin-bottom: 0;
}

#check-our{
  margin-top: 20px;
  font-size: 35px;
  margin-bottom: 25px;
}

#news-section-left-right{
  display: flex;
}

/* News Section Left */
#news-section-left{
  /* border: 2px solid red; */
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.3);
  width: 570px;
  margin-left: 90px;
  border-radius: 23px;
  height: 830px;
}

#news-section-left-top{
  /* border: 2px solid blue; */
}

#news-section-left-top img{
  border-radius: 23px 23px 0 0;
}

#news-section-left-bottom{
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 25px;
  position: relative;
  /* border: 2px solid red; */
}

#blog-seo{
  /* border: 2px solid red; */
  width: 90px;
  padding: 10px 11px;
  border-radius: 40px;
  background-color: #726ae3;
  color: white;
  font-size: 16px;
  display: inline;
}

#blog-date{
  display: inline;
  margin-left: 225px;
  font-size: 18px;
  color: gray;
}

#blog-lorem1{
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
}

#blog-lorem2{
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
  color: gray;
}

#blog-writer-profile{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#blog-writer-profile img{
  border-radius: 50%;
  margin-right: 15px;
}

#author-name{
  font-size: 16px;
}

#discover-more{
  margin-left: 80px;
  border: 1px solid#fa65b1;
  background-color: white;
  color: #fa65b1;
  padding: 10px 30px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 23px;
  transition: .20s;
}

#discover-more:hover{
  background-color: #fa65b1;
  color: white;
}

.news-right-section{
  display: flex;
}

.news-section-right-dabba{
  /* border: 2px solid pink; */
  width: 700px;
  display: flex;
  margin-left: 70px;
  margin-bottom: 50px;
}

.news-section-right-img{
  width: 300px;
}

.news-section-right-img img{
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  border-radius: 25px;
}

.news-section-right-content{
  padding-left: 35px;
  padding-top: 20px;
}

.right-news-seo{
  width: 90px;
  padding: 10px 11px;
  border-radius: 40px;
  background-color: #726ae3;
  color: white;
  font-size: 16px;
  display: inline;
}

.right-date{
  display: inline;
  margin-left: 105px;
  font-size: 17px;
  color: gray;
}

.right-lorem1{
  padding-right: 50px;
  line-height: 1.5;
  font-size: 23px;
}

.right-lorem2{
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  padding-right: 90px;
}

/* Contact Us Section */

#contact-us-section{
  /* border: 2px solid red; */
  margin-top: 60px;
}

#contact-us-top{
  text-align: center;
  position: relative;
}

#contact-us{
  color: #726ae3;
  font-size: 15px;
  margin-bottom: 0;
}

#get-in-touch{
  margin-top: 15px;
  font-size: 35px;
}

#contact-icon{
  /* border: 2px solid red; */
  position: absolute;
  top: -35px;
  right: 120px;
  z-index: -1;
}

#contact-form{
  /* border: 2px solid red; */
  width: 1300px;
  margin-left: 110px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 100px;
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.3);
  border-radius: 23px;
}

#map{
  border-radius:  23px 0 0 23px;
}

#contact-form-right{
  border-radius:  23px 0 0 23px;
}

#contact-form-right{
  position: relative;
  /* border: 2px solid green; */
  padding-top: 70px;
  background-color: white;
  /* z-index: 10; */
  padding-left: 30px;
  width: 100%;
  padding-bottom: 70px;
  border-radius: 0 23px 23px 0;
  z-index: 1;
}

#contact-details-cards{
  /* border: 2px solid red; */
  display: flex;
  padding-left: 70px;
  margin-bottom: 50px;
}

#contact-numb-container,
#contact-numb-container2,
#contact-numb-container3{
  /* border: 2px solid blue; */
  text-align: center;
  padding: 20px 40px 5px 40px;
  margin-right: 10px;
}

#contact-numb,
#contact-email{
  font-size: 17px;
}

#contact-email-container{
  /* border: 2px solid blue; */
  text-align: center;
  padding: 20px 40px 5px 40px;
}

#contact-email{
  font-size: 17px;
}

.contact-box{
  box-shadow: 0 0 8px rgba(134, 134, 134, 0.3);
  border-radius: 12px;
}

#location-container{
  /* border: 2px solid blue; */
  text-align: center;
  padding: 20px 40px 5px 40px;
}

#location{
  font-size: 17px;
}

#input-section{
  /* border: 2px solid red; */
  margin-top: 35px;
}

#input-left-right{
  display: flex;
}

#input-left,
#input-right{
  /* border: 2px solid blue; */
}

#name,
#email,
#subject{
  width: 300px;
  padding: 10px 25px;
  border-radius: 23px;
  border: 1px solid gray;
  margin-bottom:  40px;
  outline: none;
}

textarea{
  max-width: 300px;
  outline: none;
}

#send-message-now{
  border: 1px solid #fa65b1;
  color: #fa65b1;
  background-color: white;
  width: 700px;
  cursor: pointer;
  padding: 13px 0;
  border-radius: 23px;
  transition: .20s;
}

#send-message-now:hover{
  background-color: #fa65b1;
  color: white;
}


#top-right-img{
  position: absolute;
  top: 0;
  right: 0;
}

#bottom-right-img{
  position: absolute;
  bottom: 0;
  right: 0;
  /* border: 2px solid red; */
  z-index: -1;
}

/* Footer Section */
#copyright-section{
  /* border: 2px solid red; */
  text-align: center;
  background-image: url("./footer-bg.jpg");
  color: white;
  font-size: 17px;
  padding: 20px 0;
}
